.rti--container {
  --rti-bg: "#fff",
  --rti-border: "#ccc",
  --rti-main: "#3182ce",
  --rti-radius: "0.375rem",
  --rti-s: "0.5rem", /* spacing */
  --rti-tag: "#edf2f7",
  --rti-tag-remove: "#e53e3e",
}

.rti--container {
  --rti-bg: #fff;
  --rti-border: #ccc;
  --rti-main: #3182ce;
  --rti-radius: .375rem;
  --rti-s: .5rem;
  --rti-tag: #edf2f7;
  --rti-tag-remove: #e53e3e;
  --rti-tag-padding: .15rem .25rem;
  align-items: center;
  border: 1px solid var(--rti-border);
  border-radius: var(--rti-radius);
  display: flex;
  flex-wrap: wrap;
  gap: var(--rti-s);
  line-height: 1.4;
  padding: var(--rti-s);
}

.rti--container * {
  transition: all .2s ease;
}

.rti--container .rti--tag {
  align-items: center;
  background: var(--rti-tag);
  border-radius: var(--rti-radius);
  display: inline-flex;
  justify-content: center;
  padding: var(--rti-tag-padding);
}

.rti--container .rti--tag button {
  background: none;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  line-height: inherit;
  padding: 0 var(--rti-s);
}

.rti--container .rti--input {
  border: 0;
  outline: 0;
  background: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 50%;
}
